<launch>
  <arg name="mav_name" default="uav"/>
  <arg name="subscript" default="8" />


  <arg name="server" default="192.168.1.2"/>        <!-- id  of   platform where VICON runs-->
  <node pkg="vrpn_client_ros" type="vrpn_client_node" name="vrpn_client_node" output="screen">
    <rosparam subst_value="true">
      server: $(arg server)
      port: 3883

      update_frequency: 100.0
      frame_id: world
      process_sensor_id: false
      # Use the VRPN server's time, or the client's ROS time.
      use_server_time: false
      broadcast_tf: true
      
      # Must either specify refresh frequency > 0.0, or a list of trackers to create
      refresh_tracker_frequency: 1.0
      #trackers:
      #- FirstTracker
      <!-- # trackers:
      # - $(arg rigid_body_name) -->
    </rosparam>
  </node>

  <node pkg="vrpn_client_ros" type="vrpn_to_mavros" name="vrpn_to_mavros" >
    <param name="uav_name" value="/$(arg mav_name)$(arg subscript)"/>
  </node>


  <node pkg="move_control" type="single_uav_control" name="$(arg mav_name)$(arg subscript)_uav_control" >
      <param name="uav_name" value="/$(arg mav_name)$(arg subscript)"/>
      <param name="Takeoff_heiget" value="0.5"/>
  </node>

  <group ns="$(arg mav_name)$(arg subscript)">

  <node pkg="mavros" type="mavros_node" name="mavros" output="screen" >
    <param name="fcu_url" value="/dev/ttyUSB0:921600" />
  </node>


    <!-- Your algorithm here-->
  <node pkg="move_control" type="uav_simple_control"  name="uav_simple_control"  output="screen" >          
    <param name="uav_name" value="/$(arg mav_name)$(arg subscript)"/>
  </node>

  </group>

</launch>
